<div class="card">
    <h5 class="card-header">ATENCIÓN</h5>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link active" id="tiempocompleto-tab" data-toggle="tab" href="#tiempocompleto"
                        role="tab" aria-controls="tiempocompleto" aria-selected="true">TIEMPO COMPLETO</a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link" id="promatencion-tab" data-toggle="tab" href="#promatencion" role="tab"
                        aria-controls="promatencion" aria-selected="false">PROMEDIOS DE ATENCIÓN</a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link" id="maxaten-tab" data-toggle="tab" href="#maxaten" role="tab"
                        aria-controls="maxaten" aria-selected="false">MÁXIMOS DE ATENCIÓN</a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link" id="atenservicio-tab" data-toggle="tab" href="#atenservicio" role="tab"
                        aria-controls="atenservicio" aria-selected="false">ATENCIÓN SERVICIO</a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link" id="graficoservicio-tab" data-toggle="tab" href="#graficoservicio" role="tab"
                        aria-controls="graficoservicio" aria-selected="false">GRÁFICO SERVICIO</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tiempocompleto" role="tabpanel"
                    aria-labelledby="tiempocompleto-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <label for="fromDateAtTC">Fecha desde:</label>
                                <input type="date" id="fromDateAtTC" value="{{fromDate}}" [max]="toDate" name="fromDate"
                                    #fromDateAtTC><br><br>

                                <label for="toDateAtTC">Fecha hasta: </label>
                                <input type="date" id="toDateAtTC" value="{{toDate}}" [max]="toDate" name="toDate"
                                    #toDateAtTC>
                            </div>
                            <div class="col-6">
                                <select class="form-control"  name="select" #codSucursalAtTC (change)="getCajeros($event.target.value)">
                                    <option value="-1" selected>Sucursales</option>
                                    <option *ngFor="let sucursal of sucursales" value="{{sucursal.empr_codigo}}" [ngValue]="sucursal.empr_codigo">{{sucursal.empr_nombre}}</option>
                                </select>
                                <br><br>
                                <!-- <select class="form-control" name="selectmake" #codCajeroAtTC>
                                    <option value="-1" selected>Seleccione usuario...</option>
                                    <option value="-2">Todos los usuarios</option>
                                    <option *ngFor="let cajerosAtencion of cajerosAtencion"
                                        value="{{cajerosAtencion.caje_codigo}}" [ngValue]="cajerosAtencion.caje_codigo">
                                        {{cajerosAtencion.caje_nombre}}</option>
                                </select> -->
                                <mat-select multiple class="form-control" name="selectmake" [(ngModel)]="selectedItems" placeholder="Usuarios">
                                    <mat-option [value]="-2"  (click)="selectAll()" >
                                        Todos los usuarios
                                    </mat-option>
                                    <mat-option *ngFor="let option of cajerosAtencion" [value]="option.caje_codigo" [disabled]="allSelected">
                                        {{option.caje_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerTiempcompleto()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h2>TIEMPO COMPLETO</h2>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped" id="contentTC" #contentTC #tableTC>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center" *ngIf="todasSucursalesTC" style="width: 300px;">Sucursal</th>
                                    <th scope="col" class="text-center">Usuario</th>
                                    <th scope="col" class="text-center">Servicio</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Tiempo Espera</th>
                                    <th scope="col" class="text-center">Tiempo Atención</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestAtTC">
                                <tr *ngFor="let servicioTiempoComp of servicioTiempoComp | paginate:configTC">
                                    <td *ngIf="todasSucursalesTC">{{servicioTiempoComp.nombreEmpresa}}</td>
                                    <td>{{servicioTiempoComp.Usuario}}</td>
                                    <td>{{servicioTiempoComp.Servicio}}</td>
                                    <td>{{servicioTiempoComp.Fecha}}</td>
                                    <td>{{servicioTiempoComp.Tiempo_Espera}}</td>
                                    <td>{{servicioTiempoComp.Tiempo_Atencion}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestAtTCPag" id="Atenciontc"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedTC($event)">
                        </pagination-controls>
                    </div>
                    <div>
                        <br>
                        <button type="button" class="btn btn-info mx-2"
                            (click)="exportarAExcelTiempoComp()">EXCEL</button>
                        <button type="button" class="btn btn-info"
                            (click)="generarPdfTiempoComp('hola', 1)">PDF</button>
                        <br><br>
                    </div>
                </div>

                <div class="tab-pane fade" id="promatencion" role="tabpanel" aria-labelledby="promatencion-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <label for="fromDateAtPA">Fecha desde:</label>
                                <input type="date" id="fromDateAtPA" value="{{fromDate}}" [max]="toDate" name="fromDate"
                                    #fromDateAtPA><br><br>

                                <label for="toDateAtPA">Fecha hasta: </label>
                                <input type="date" id="toDateAtPA" value="{{toDate}}" [max]="toDate" name="toDate"
                                    #toDateAtPA>
                            </div>
                            <div class="col-6">
                                <select class="form-control"  name="select" #codSucursalAtPA (change)="getServicios($event.target.value)">
                                    <option value="-1" selected>Sucursales</option>
                                    <option *ngFor="let sucursal of sucursales" value="{{sucursal.empr_codigo}}" [ngValue]="sucursal.empr_codigo">{{sucursal.empr_nombre}}</option>
                                </select>
                                <br><br>
                                <select class="form-control" name="selectmake" #codServicioAtPA>
                                    <option value="-1" selected>Seleccione servicio...</option>
                                    <option *ngFor="let serviciosAtPA of serviciosAtPA"
                                        value="{{serviciosAtPA.serv_codigo}}" [ngValue]="serviciosAtPA.serv_codigo">
                                        {{serviciosAtPA.serv_nombre}}</option>
                                </select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerPromAtencion()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h2>PROMEDIO ATENCIÓN</h2>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped" id="contentPA" #contentPA #tablePA>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center" *ngIf="todasSucursalesPA" style="width: 300px;">Sucursal</th>
                                    <th scope="col" class="text-center">Servicios</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">T. Promedio de Espera </th>
                                    <th scope="col" class="text-center">T. Promedio de Atención</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestAtPA">
                                <tr *ngFor="let serviciopa of serviciopa | paginate:configPA">
                                    <td *ngIf="todasSucursalesPA">{{serviciopa.nombreEmpresa}}</td>
                                    <td>{{serviciopa.SERV_NOMBRE}}</td>
                                    <td>{{serviciopa.TURN_FECHA}}</td>
                                    <td>{{serviciopa.PromedioEspera}}</td>
                                    <td>{{serviciopa.PromedioAtencion}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestAtPAPag" id="Atencionpa"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedPA($event)">
                        </pagination-controls>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info mx-2"
                        (click)="exportarAExcelPromAtencion()">EXCEL</button>
                    <button type="button" class="btn btn-info" (click)="generarPdfPromAtencion('hola', 1)">PDF</button>
                </div>

                <div class="tab-pane fade" id="maxaten" role="tabpanel" aria-labelledby="maxaten-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <label for="fromDateAtMA">Fecha desde:</label>
                                <input type="date" id="fromDateAtMA" value="{{fromDate}}" [max]="toDate" name="fromDate"
                                    #fromDateAtMA><br><br>

                                <label for="toDateAtMA">Fecha hasta: </label>
                                <input type="date" id="toDateAtMA" value="{{toDate}}" [max]="toDate" name="toDate"
                                    #toDateAtMA>
                            </div>
                            <div class="col-6">
                                <select class="form-control"  name="select" #codSucursalAtMA (change)="getServicios($event.target.value)">
                                    <option value="-1" selected>Sucursales</option>
                                    <option *ngFor="let sucursal of sucursales" value="{{sucursal.empr_codigo}}" [ngValue]="sucursal.empr_codigo">{{sucursal.empr_nombre}}</option>
                                </select>
                                <br><br>
                                <select class="form-control" name="selectmake" #codServicioAtMA>
                                    <option value="-1" selected>Seleccione servicio...</option>
                                    <option *ngFor="let serviciosAtPA of serviciosAtPA"
                                        value="{{serviciosAtPA.serv_codigo}}" [ngValue]="serviciosAtPA.serv_codigo">
                                        {{serviciosAtPA.serv_nombre}}</option>
                                </select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerMaxAtencion()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h2>MÁXIMOS ATENCIÓN</h2>
                    <hr>
                    <div class="table-responsive" id="contentMaxAt" #contentMaxAt #tableMaxAt>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center" *ngIf="todasSucursalesMA" style="width: 300px;">Sucursal</th>
                                    <th scope="col" class="text-center">Cod.</th>
                                    <th scope="col" class="text-center">Servicio</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">T. Máximo de Atención</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestAtMA">
                                <tr *ngFor="let serviciomax of serviciomax | paginate:configMA">
                                    <td *ngIf="todasSucursalesMA">{{serviciomax.nombreEmpresa}}</td>
                                    <td>{{serviciomax.SERV_CODIGO}}</td>
                                    <td>{{serviciomax.SERV_NOMBRE}}</td>
                                    <td>{{serviciomax.Fecha}}</td>
                                    <td>{{serviciomax.Maximo}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestAtMAPag" id="Atencionma"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedMA($event)">
                        </pagination-controls>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="exportarAExcelMaxAtencion()">EXCEL</button>
                    <button type="button" class="btn btn-info" (click)="generarPdfMaxAtencion('hola', 1)">PDF</button>
                </div>

                <div class="tab-pane fade" id="atenservicio" role="tabpanel" aria-labelledby="atenservicio-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <label for="fromDateAtAS">Fecha desde:</label>
                                <input type="date" id="fromDateAtAS" value="{{fromDate}}" [max]="toDate" name="fromDate"
                                    #fromDateAtAS><br><br>

                                <label for="toDateAtAS">Fecha hasta: </label>
                                <input type="date" id="toDateAtAS" value="{{toDate}}" [max]="toDate" name="toDate"
                                    #toDateAtAS>
                            </div>
                            <div class="col-6">
                                <select class="form-control"  name="select" #codSucursalAtAS (change)="getCajeros($event.target.value)">
                                    <option value="-1" selected>Sucursales</option>
                                    <option *ngFor="let sucursal of sucursales" value="{{sucursal.empr_codigo}}" [ngValue]="sucursal.empr_codigo">{{sucursal.empr_nombre}}</option>
                                </select>
                                <br><br>
                                <!-- <select class="form-control" name="selectmake" #codCajeroAtAS>
                                    <option value="-1" selected>Seleccione usuario...</option>
                                    <option value="-2" >Todos los usuarios</option>
                                    <option *ngFor="let cajerosAtencion of cajerosAtencion"
                                        value="{{cajerosAtencion.caje_codigo}}" [ngValue]="cajerosAtencion.caje_codigo">
                                        {{cajerosAtencion.caje_nombre}}</option>
                                </select> -->
                                <mat-select multiple class="form-control" name="selectmake" [(ngModel)]="selectedItems" placeholder="Usuarios">
                                    <mat-option [value]="-2"  (click)="selectAll()" >
                                        Todos los usuarios
                                    </mat-option>
                                    <mat-option *ngFor="let option of cajerosAtencion" [value]="option.caje_codigo" [disabled]="allSelected">
                                        {{option.caje_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerAtencionServicio()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h2>ATENCIÓN SERVICIO</h2>
                    <hr>
                    <div class="table-responsive" id="contentAS" #contentAS #tableAS>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center" *ngIf="todasSucursalesAS" style="width: 300px;">Sucursal</th>
                                    <th scope="col" class="text-center">Nombre</th>
                                    <th scope="col" class="text-center">Servicio</th>
                                    <th scope="col" class="text-center">Atendidos</th>
                                    <th scope="col" class="text-center">No Atendidos</th>
                                    <th scope="col" class="text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestAtAS">
                                <tr *ngFor="let servicioatser of servicioatser | paginate:configAS">
                                    <td *ngIf="todasSucursalesAS">{{servicioatser.nombreEmpresa}}</td>
                                    <td>{{servicioatser.Nombre}}</td>
                                    <td>{{servicioatser.Servicio}}</td>
                                    <td>{{servicioatser.Atendidos}}</td>
                                    <td>{{servicioatser.NoAtendidos}}</td>
                                    <td>{{servicioatser.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestAtASPag" id='Atencionas'
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedAS($event)">
                        </pagination-controls>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="exportarAExcelAtServ()">EXCEL</button>
                    <button type="button" class="btn btn-info" (click)="generarPdfAtServ('hola', 1)">PDF</button>
                </div>

                <div class="tab-pane fade" id="graficoservicio" role="tabpanel" aria-labelledby="graficoservicio-tab">
                    <br><br>
                    <!-- <button type="button" class="btn btn-info mx-2" (click)="exportarAExcelGraServ()">EXCEL</button> -->
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <label for="fromDateAtG">Fecha desde:</label>
                                <input type="date" id="fromDateAtG" value="{{fromDate}}" [max]="toDate" name="fromDate"
                                    #fromDateAtG><br><br>
                                <label for="toDateAtG">Fecha hasta: </label>
                                <input type="date" id="toDateAtG" value="{{toDate}}" [max]="toDate" name="toDate"
                                    #toDateAtG>
                            </div>
                            <div class="col-6">
                                <select class="form-control"  name="select" #codSucursalAtGs>
                                    <option value="-1" selected>Sucursales</option>
                                    <option *ngFor="let sucursal of sucursales" value="{{sucursal.empr_codigo}}" [ngValue]="sucursal.empr_codigo">{{sucursal.empr_nombre}}</option>
                                </select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerGrafico()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h2>SERVICIO</h2>
                    <hr>
                    <div class="container" id="content4" #contentAtServ #tableAtServ>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" class="text-center" *ngIf="todasSucursalesGS" style="width: 300px;">Sucursal</th>
                                        <th scope="col" class="text-center">Servicio</th>
                                        <th scope="col" class="text-center">Atendidos</th>
                                        <th scope="col" class="text-center">No Atendidos</th>
                                        <th scope="col" class="text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!malRequestAtG">
                                    <tr *ngFor="let serviciograf of serviciograf | paginate:configGS">
                                        <td *ngIf="todasSucursalesGS">{{serviciograf.nombreEmpresa}}</td>
                                        <td>{{serviciograf.Servicio}}</td>
                                        <td>{{serviciograf.Atendidos}}</td>
                                        <td>{{serviciograf.No_Atendidos}}</td>
                                        <td>{{serviciograf.Total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls *ngIf="!malRequestAtGPag" id="Atenciongs"
                                [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                                (pageChange)="pageChangedGS($event)">
                            </pagination-controls>
                        </div>
                        <br><br>
                        <div id="canvasCont" *ngIf="!malRequestAtG">
                            <h2>GRÁFICO SERVICIO</h2>
                            <canvas id="canvas">{{chart}}</canvas>
                        </div>
                    </div>
                    <br>
                    <fieldset>
                        <div>
                            <label>Orientación de página: </label>

                            <input type="radio" id="vertical" class="radio-col-light-blue" name="orientacion"
                                value="portrait" (click)="cambiarOrientacion('portrait')" checked>
                            <label for="vertical">Vertical </label>

                            <input type="radio" id="horizontal" class="radio-col-light-blue" name="orientacion"
                                value="landscape" (click)="cambiarOrientacion('landscape')">
                            <label for="horizontal">Horizontal </label>
                        </div>
                    </fieldset>
                    <button type="button" class="btn btn-info mx-2" (click)="exportarAExcelGraServ()">EXCEL</button>
                    <button type="button" class="btn btn-info" (click)="generarPdfGraServ('hola', 1)">PDF</button>
                    <br><br>
                </div>
            </div>
        </form>
    </div>
</div>