<div class="card">
    <h2 class="card-header">ATENCIÓN</h2>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link active" id="tiempocompleto-tab" data-toggle="tab" href="#tiempocompleto"
                        role="tab" aria-controls="tiempocompleto" aria-selected="true">
                        TIEMPO COMPLETO
                    </a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link" id="promatencion-tab" data-toggle="tab" href="#promatencion" role="tab"
                        aria-controls="promatencion" aria-selected="false">
                        PROMEDIOS DE ATENCIÓN
                    </a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link" id="tiempoatencion-tab" data-toggle="tab" href="#tiempoatencion" role="tab"
                        aria-controls="tiempoatencion" aria-selected="false">
                        TIEMPO DE ATENCIÓN POR TURNOS-SERVICIOS
                    </a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link" id="maxaten-tab" data-toggle="tab" href="#maxaten" role="tab"
                        aria-controls="maxaten" aria-selected="false">
                        TIEMPO MÁXIMO DE ATENCIÓN
                    </a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link" id="cliente-tab" data-toggle="tab" href="#cliente"
                        role="tab" aria-controls="cliente" aria-selected="false">
                        CLIENTE
                    </a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link" id="graficoservicio-tab" data-toggle="tab" href="#graficoservicio" role="tab"
                        aria-controls="graficoservicio" aria-selected="false">
                        GRÁFICO SERVICIO
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tiempocompleto" role="tabpanel"
                    aria-labelledby="tiempocompleto-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateAtTC">Fecha desde:</label>
                                        <input type="date" id="fromDateAtTC" value="{{fromDate}}" [max]="toDate"
                                            name="fromDate" #fromDateAtTC><br><br>
                                    </div>
                                    <div>
                                        <label for="toDateAtTC">Fecha hasta: </label>
                                        <input type="date" id="toDateAtTC" value="{{toDate}}" [max]="toDate"
                                            name="toDate" #toDateAtTC>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioTC>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinTC>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursalesTC')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.empr_codigo"
                                        (click)="selectAll('sucursalesSeleccionadas')" [disabled]="todasSucursalesTC">
                                        {{sucursal.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake" [(value)]="selectedItems"
                                    placeholder="Cajeros">
                                    <mat-option *ngIf="mostrarCajeros" [value]="-2" (click)="selectAll('')">
                                        Todos los cajeros
                                    </mat-option>
                                    <mat-option *ngFor="let option of cajerosAtencion" [value]="option.caje_codigo"
                                        [disabled]="allSelected">
                                        {{option.caje_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerTiempcompleto()">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>TIEMPO COMPLETO</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped" id="contentTC" #contentTC #tableTC>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center" *ngIf="todasSucursalesTC || seleccionMultiple">
                                        Sucursal
                                    </th>
                                    <th scope="col" class="text-center">Cajero(a)</th>
                                    <th scope="col" class="text-center">Servicio</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Tiempo Espera</th>
                                    <th scope="col" class="text-center">Tiempo Atención</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestAtTC">
                                <tr *ngFor="let servicioTiempoComp of servicioTiempoComp | paginate:configTC">
                                    <td *ngIf="todasSucursalesTC || seleccionMultiple">
                                        {{servicioTiempoComp.nombreEmpresa}}</td>
                                    <td>{{servicioTiempoComp.Usuario}}</td>
                                    <td>{{servicioTiempoComp.Servicio}}</td>
                                    <td>{{servicioTiempoComp.Fecha}}</td>
                                    <td>{{servicioTiempoComp.Tiempo_Espera}}</td>
                                    <td>{{servicioTiempoComp.Tiempo_Atencion}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestAtTCPag" id="Atenciontc"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedTC($event)">
                        </pagination-controls>
                    </div>
                    <div>
                        <br>
                        <button type="button" class="btn btn-info mx-2" (click)="exportarAExcelTiempoComp()">
                            EXCEL
                        </button>
                        <button type="button" class="btn btn-info" (click)="generarPdfTiempoComp('hola', 1)">
                            PDF
                        </button>
                        <br><br>
                    </div>
                </div>
                <div class="tab-pane fade" id="promatencion" role="tabpanel" aria-labelledby="promatencion-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateAtPA">Fecha desde:</label>
                                        <input type="date" id="fromDateAtPA" value="{{fromDate}}" [max]="toDate"
                                            name="fromDate" #fromDateAtPA><br><br>
                                    </div>
                                    <div>
                                        <label for="toDateAtPA">Fecha hasta: </label>
                                        <input type="date" id="toDateAtPA" value="{{toDate}}" [max]="toDate"
                                            name="toDate" #toDateAtPA>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioPA>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinPA>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursalesPA')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.empr_codigo"
                                        (click)="selectAll('sucursalesSeleccionadasS')" [disabled]="todasSucursalesPA">
                                        {{sucursal.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake" [(value)]="selectedItems"
                                    placeholder="Servicios">
                                    <mat-option *ngIf="mostrarServicios" [value]="-1"
                                        (click)="selectAll('allSelected')">
                                        Todos los servicios
                                    </mat-option>
                                    <mat-option *ngFor="let serviciosAtPA of serviciosAtPA"
                                        [value]="serviciosAtPA.serv_codigo" [disabled]="allSelected">
                                        {{serviciosAtPA.serv_nombre}} - {{serviciosAtPA.empresa}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerPromAtencion()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>PROMEDIO ATENCIÓN</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped" id="contentPA" #contentPA #tablePA>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center" *ngIf="todasSucursalesPA || seleccionMultiple">
                                        Sucursal
                                    </th>
                                    <th scope="col" class="text-center">Servicios</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">T. Promedio de Espera </th>
                                    <th scope="col" class="text-center">T. Promedio de Atención</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestAtPA">
                                <tr *ngFor="let serviciopa of serviciopa | paginate:configPA">
                                    <td *ngIf="todasSucursalesPA || seleccionMultiple">{{serviciopa.nombreEmpresa}}</td>
                                    <td>{{serviciopa.SERV_NOMBRE}}</td>
                                    <td>{{serviciopa.TURN_FECHA}}</td>
                                    <td>{{serviciopa.PromedioEspera}}</td>
                                    <td>{{serviciopa.PromedioAtencion}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestAtPAPag" id="Atencionpa"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedPA($event)">
                        </pagination-controls>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="exportarAExcelPromAtencion()">
                        EXCEL
                    </button>
                    <button type="button" class="btn btn-info" (click)="generarPdfPromAtencion('hola', 1)">
                        PDF
                    </button>
                </div>

                <div class="tab-pane fade" id="tiempoatencion" role="tabpanel" aria-labelledby="tiempoatencion-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateAtTA">Fecha desde:</label>
                                        <input type="date" id="fromDateAtTA" value="{{fromDate}}" [max]="toDate"
                                            name="fromDate" #fromDateAtTA><br><br>
                                    </div>
                                    <div>
                                        <label for="toDateAtTA">Fecha hasta:</label>
                                        <input type="date" id="toDateAtTA" value="{{toDate}}" [max]="toDate"
                                            name="toDate" #toDateAtTA>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioTA>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinTA>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursalesTA')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.empr_codigo"
                                        (click)="selectAll('sucursalesSeleccionadasS')" [disabled]="todasSucursalesTA">
                                        {{sucursal.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake" [(value)]="selectedItems"
                                    placeholder="Servicios">
                                    <mat-option *ngIf="mostrarServicios" [value]="-1"
                                        (click)="selectAll('allSelected')">
                                        Todos los servicios
                                    </mat-option>
                                    <mat-option *ngFor="let serviciosAtPA of serviciosAtPA"
                                        [value]="serviciosAtPA.serv_codigo" [disabled]="allSelected">
                                        {{serviciosAtPA.serv_nombre}} - {{serviciosAtPA.empresa}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerTiempoAtencion()">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>TIEMPO DE ATENCIÓN POR TURNOS-SERVICIOS</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped" id="contentTA" #contentTA #tableTA>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center" *ngIf="todasSucursalesTA || seleccionMultiple">
                                        Sucursal
                                    </th>
                                    <th scope="col" class="text-center">Cajero(a)</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Hora</th>
                                    <th scope="col" class="text-center">Servicio</th>
                                    <th scope="col" class="text-center">Turno</th>
                                    <th scope="col" class="text-center">Tiempo de espera </th>
                                    <th scope="col" class="text-center">Tiempo de atención</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestAtTA">
                                <tr *ngFor="let serviciota of serviciota | paginate:configTA">
                                    <td *ngIf="todasSucursalesTA || seleccionMultiple">{{serviciota.nombreEmpresa}}</td>
                                    <td>{{serviciota.cajero}}</td>
                                    <td>{{serviciota.TURN_FECHA}}</td>
                                    <td>{{serviciota.hora}}</td>
                                    <td>{{serviciota.SERV_NOMBRE}}</td>
                                    <td>{{serviciota.turno}}</td>
                                    <td>{{serviciota.espera}}</td>
                                    <td>{{serviciota.atencion}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestAtTAPag" id="Atencionta"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedTA($event)">
                        </pagination-controls>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="exportarAExcelTiempoAtencion()">
                        EXCEL
                    </button>
                    <button type="button" class="btn btn-info" (click)="generarPdfTiempoAtencion('hola', 1)">
                        PDF
                    </button>
                </div>

                <div class="tab-pane fade" id="maxaten" role="tabpanel" aria-labelledby="maxaten-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateAtMA">Fecha desde:</label>
                                        <input type="date" id="fromDateAtMA" value="{{fromDate}}" [max]="toDate"
                                            name="fromDate" #fromDateAtMA><br><br>
                                    </div>
                                    <div>
                                        <label for="toDateAtMA">Fecha hasta:</label>
                                        <input type="date" id="toDateAtMA" value="{{toDate}}" [max]="toDate"
                                            name="toDate" #toDateAtMA>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioTM>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinTM>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursalesMA')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.empr_codigo"
                                        (click)="selectAll('sucursalesSeleccionadasS')" [disabled]="todasSucursalesMA">
                                        {{sucursal.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake" [(value)]="selectedItems"
                                    placeholder="Servicios">
                                    <mat-option *ngIf="mostrarServicios" [value]="-1"
                                        (click)="selectAll('allSelected')">
                                        Todos los servicios
                                    </mat-option>
                                    <mat-option *ngFor="let serviciosAtPA of serviciosAtPA"
                                        [value]="serviciosAtPA.serv_codigo" [disabled]="allSelected">
                                        {{serviciosAtPA.serv_nombre}} - {{serviciosAtPA.empresa}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerMaxAtencion()">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>TIEMPO MÁXIMO ATENCIÓN</h3>
                    <hr>
                    <div class="table-responsive" id="contentMaxAt" #contentMaxAt #tableMaxAt>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center" *ngIf="todasSucursalesMA || seleccionMultiple">
                                        Sucursal
                                    </th>
                                    <th scope="col" class="text-center">Servicio</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">T. Máximo de Atención</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestAtMA">
                                <tr *ngFor="let serviciomax of serviciomax | paginate:configMA">
                                    <td *ngIf="todasSucursalesMA || seleccionMultiple">{{serviciomax.nombreEmpresa}}
                                    </td>
                                    <td>{{serviciomax.SERV_NOMBRE}}</td>
                                    <td>{{serviciomax.Fecha}}</td>
                                    <td>{{serviciomax.Maximo}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestAtMAPag" id="Atencionma"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedMA($event)">
                        </pagination-controls>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="exportarAExcelMaxAtencion()">
                        EXCEL
                    </button>
                    <button type="button" class="btn btn-info" (click)="generarPdfMaxAtencion('hola', 1)">
                        PDF
                    </button>
                </div>

                <div class="tab-pane fade" id="atenservicio" role="tabpanel" aria-labelledby="atenservicio-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateAtAS">Fecha desde:</label>
                                        <input type="date" id="fromDateAtAS" value="{{fromDate}}" [max]="toDate"
                                            name="fromDate" #fromDateAtAS><br><br>
                                    </div>
                                    <div>
                                        <label for="toDateAtAS">Fecha hasta:</label>
                                        <input type="date" id="toDateAtAS" value="{{toDate}}" [max]="toDate"
                                            name="toDate" #toDateAtAS>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioAS>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinAS>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursalesAS')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.empr_codigo"
                                        (click)="selectAll('sucursalesSeleccionadas')" [disabled]="todasSucursalesAS">
                                        {{sucursal.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake" [(value)]="selectedItems"
                                    placeholder="Cajeros">
                                    <mat-option *ngIf="mostrarCajeros" [value]="-2" (click)="selectAll('')">
                                        Todos los cajeros
                                    </mat-option>
                                    <mat-option *ngFor="let option of cajerosAtencion" [value]="option.caje_codigo"
                                        [disabled]="allSelected">
                                        {{option.caje_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerAtencionServicio()">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>ATENCIÓN SERVICIO</h3>
                    <hr>
                    <div class="table-responsive" id="contentAS" #contentAS #tableAS>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center" *ngIf="todasSucursalesAS || seleccionMultiple">
                                        Sucursal</th>
                                    <th scope="col" class="text-center">Nombre</th>
                                    <th scope="col" class="text-center">Servicio</th>
                                    <th scope="col" class="text-center">Atendidos</th>
                                    <th scope="col" class="text-center">No Atendidos</th>
                                    <th scope="col" class="text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestAtAS">
                                <tr *ngFor="let servicioatser of servicioatser | paginate:configAS">
                                    <td *ngIf="todasSucursalesAS || seleccionMultiple">{{servicioatser.nombreEmpresa}}
                                    </td>
                                    <td>{{servicioatser.Nombre}}</td>
                                    <td>{{servicioatser.Servicio}}</td>
                                    <td>{{servicioatser.Atendidos}}</td>
                                    <td>{{servicioatser.NoAtendidos}}</td>
                                    <td>{{servicioatser.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestAtASPag" id='Atencionas'
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedAS($event)">
                        </pagination-controls>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="exportarAExcelAtServ()">
                        EXCEL
                    </button>
                    <button type="button" class="btn btn-info" (click)="generarPdfAtServ('hola', 1)">
                        PDF
                    </button>
                </div>

                <div class="tab-pane fade" id="cliente" role="tabpanel"
                    aria-labelledby="cliente-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateAtC">Fecha desde:</label>
                                        <input type="date" id="fromDateAtC" value="{{fromDate}}" [max]="toDate"
                                            name="fromDate" #fromDateAtC><br><br>
                                    </div>
                                    <div>
                                        <label for="toDateAtTC">Fecha hasta: </label>
                                        <input type="date" id="toDateAtC" value="{{toDate}}" [max]="toDate"
                                            name="toDate" #toDateAtC>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioC>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinC>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursalesC')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.empr_codigo"
                                        (click)="selectAll('sucursalesSeleccionadas')" [disabled]="todasSucursalesC">
                                        {{sucursal.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake" [(value)]="selectedItems"
                                    placeholder="Cajeros">
                                    <mat-option *ngIf="mostrarCajeros" [value]="-2" (click)="selectAll('')">
                                        Todos los cajeros
                                    </mat-option>
                                    <mat-option *ngFor="let option of cajerosAtencion" [value]="option.caje_codigo"
                                        [disabled]="allSelected">
                                        {{option.caje_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerCliente()">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>CLIENTE</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped" id="contentC" #contentTC #tableTC>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center">N°</th>
                                    <th scope="col" class="text-center" *ngIf="todasSucursalesC || seleccionMultiple">
                                        Sucursal
                                    </th>
                                    <th scope="col" class="text-center">Cajero(a)</th>
                                    <th scope="col" class="text-center">Cliente</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Servicio</th>
                                    <th scope="col" class="text-center">Turno</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestAtTC">
                                <tr *ngFor="let cliente of clientes | paginate:configC">
                                    <td>{{clientes.indexOf(cliente)+1}}</td>
                                    <td *ngIf="todasSucursalesC || seleccionMultiple">
                                        {{cliente.empresa}}</td>
                                    <td>{{cliente.usuario}}</td>
                                    <td>{{identificacionCliente=='nombre'?cliente.nombre:cliente.cedula}}</td>
                                    <td>{{cliente.fecha}}</td>
                                    <td>{{cliente.servicio}}</td>
                                    <td>{{cliente.siglas}}{{cliente.numero}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestAtCPag" id="Atencionc"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedC($event)">
                        </pagination-controls>
                    </div>
                    <div>
                        <br>
                        <button type="button" class="btn btn-info mx-2" (click)="exportarAExcelCliente()">
                            EXCEL
                        </button>
                        <button type="button" class="btn btn-info" (click)="generarPdfCliente('hola', 1)">
                            PDF
                        </button>
                        <br><br>
                    </div>
                </div>

                <div class="tab-pane fade" id="graficoservicio" role="tabpanel" aria-labelledby="graficoservicio-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateAtG">Fecha desde:</label>
                                        <input type="date" id="fromDateAtG" value="{{fromDate}}" [max]="toDate"
                                            name="fromDate" #fromDateAtG><br><br>
                                    </div>
                                    <div>
                                        <label for="toDateAtG">Fecha hasta:</label>
                                        <input type="date" id="toDateAtG" value="{{toDate}}" [max]="toDate"
                                            name="toDate" #toDateAtG>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioGS>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinGS>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(ngModel)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursalesGS')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let option of sucursales" [value]="option.empr_codigo"
                                        (click)="selectAll('sucursalesSeleccionadas')" [disabled]="todasSucursalesGS">
                                        {{option.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerGrafico()">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>SERVICIO</h3>
                    <hr>
                    <div class="container" id="content4" #contentAtServ #tableAtServ>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" class="text-center"
                                            *ngIf="todasSucursalesGS || seleccionMultiple">
                                            Sucursal
                                        </th>
                                        <th scope="col" class="text-center">Servicio</th>
                                        <th scope="col" class="text-center">Atendidos</th>
                                        <th scope="col" class="text-center">No Atendidos</th>
                                        <th scope="col" class="text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!malRequestAtG">
                                    <tr *ngFor="let serviciograf of serviciograf | paginate:configGS">
                                        <td *ngIf="todasSucursalesGS || seleccionMultiple">
                                            {{serviciograf.nombreEmpresa}}</td>
                                        <td>{{serviciograf.Servicio}}</td>
                                        <td>{{serviciograf.Atendidos}}</td>
                                        <td>{{serviciograf.No_Atendidos}}</td>
                                        <td>{{serviciograf.Total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls *ngIf="!malRequestAtGPag" id="Atenciongs"
                                [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                                (pageChange)="pageChangedGS($event)">
                            </pagination-controls>
                        </div>
                        <br><br>
                        <div id="canvasCont" *ngIf="!malRequestAtG">
                            <h3>GRÁFICO SERVICIO</h3>
                            <canvas id="canvas">{{chart}}</canvas>
                        </div>
                    </div>
                    <br>
                    <fieldset>
                        <div>
                            <label>Orientación de página:</label>

                            <input type="radio" id="vertical" class="radio-col-light-blue" name="orientacion"
                                value="portrait" (click)="cambiarOrientacion('portrait')" checked>
                            <label for="vertical">Vertical</label>

                            <input type="radio" id="horizontal" class="radio-col-light-blue" name="orientacion"
                                value="landscape" (click)="cambiarOrientacion('landscape')">
                            <label for="horizontal">Horizontal</label>
                        </div>
                    </fieldset>
                    <button type="button" class="btn btn-info mx-2" (click)="exportarAExcelGraServ()">
                        EXCEL
                    </button>
                    <button type="button" class="btn btn-info" (click)="generarPdfGraServ('hola', 1)">
                        PDF
                    </button>
                    <br><br>
                </div>
            </div>
        </form>
    </div>
</div>