<div class="card">
    <h2 class="card-header">INGRESO DE CLIENTES</h2>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Ingreso de Clientes por Fecha</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <label for="fromDateIng">Fecha desde:</label>
                                <input type="date" id="fromDateIng" value="{{fromDate}}" [max]="toDate" name="fromDateIng" #fromDateIng>
                                <br><br>
                                <label for="toDateIng">Fecha hasta: </label>
                                <input type="date" id="toDateIng" value="{{toDate}}" [max]="toDate" name="toDateIng" #toDateIng>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake" [(ngModel)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1"  (click)="selectAll('todasSucursales')" >
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let option of sucursales" [value]="option.empr_codigo" 
                                    (click)="selectAll('sucursalesSeleccionadas')" [disabled]="todasSucursales">
                                        {{option.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerIngresoClientes()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>INGRESO CLIENTES</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped" #content #TABLE #table>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center" *ngIf="todasSucursales || seleccionMultiple">Sucursal</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Total Clientes</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestIng">
                                <tr *ngFor="let servicioIngrClientes of servicioIngrClientes | paginate:configTE">
                                    <td *ngIf="todasSucursales || seleccionMultiple">{{servicioIngrClientes.nombreEmpresa}}</td>
                                    <td>{{servicioIngrClientes.Fecha}}</td>
                                    <td>{{servicioIngrClientes.clientes}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls 
                            *ngIf="!malRequestIngPag" 
                            id="IngClite"
                            [previousLabel]="labels.previousLabel"
                            [nextLabel]="labels.nextLabel"  
                            (pageChange)="pageChangedTE($event)">
                        </pagination-controls>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="exportTOExcelIngrClientes()">EXCEL</button>
                    <button type="button" class="btn btn-info" (click)="generarPdfIngrClientes('hola',1)">PDF</button>
                </div>
            </div>
        </form>
    </div>
</div>
