.espacio {
    flex: 1 1 auto;
}

.card {
    text-align: center;
}

.contenedor-horas, .contenedor-fechas {
    display: flex;
    flex-direction: row;
  }

.contenedor-fechas{
    justify-content: space-around;
    flex-wrap: wrap;
}