<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<div id="menu-lateral">
    <aside class="left-sidebar ">
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="user-profile">
                        <a><img src="./assets/images/users/user.jpg" alt="user" />
                            <span class="hide-menu">{{userDisplayName}}</span></a>
                    </li>
                    <li class="nav-small-cap">REPORTES </li>
                    <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="/menu"><i
                                class="mdi mdi-chart-areaspline"></i>
                            Inicio
                        </a>
                    </li>

                    <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="usuarios"><i
                                class="mdi mdi-account"></i>
                            Turnos
                        </a>
                    </li>

                    <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="evaluacion"><i
                                class="mdi mdi-seal"></i>
                            Evaluación
                        </a>
                    </li>

                    <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="distestadoturnos"><i
                                class="mdi mdi-bullseye"></i>
                            Monitor
                        </a>

                    </li>

                    <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="opinion"><i
                                class="mdi mdi-mailbox"></i>
                            Opiniones
                        </a>
                    </li>

                    <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="cajeros"><i
                                class="mdi mdi-account-card-details"></i>
                            Usuarios
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
</div>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->