<div class="card">
    <h2 class="card-header">EVALUACIÓN</h2>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" (click)="LimpiarFormularios()">
                    <a class="nav-link active" id="servicio-tab" data-toggle="tab" href="#servicio" role="tab"
                        aria-controls="servicio" aria-selected="true">
                        RESUMEN EVALUACIÓN
                    </a>
                </li>
                <li class="nav-item" (click)="LimpiarFormularios()">
                    <a class="nav-link" id="tiempromat-tab" data-toggle="tab" href="#tiempromat" role="tab"
                        aria-controls="tiempromat" aria-selected="false">
                        EVALUACIÓN POR TURNOS
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <!--  *****************   CONSULTA RESUMEN DE EVALUACIONES  ********************  -->
                <div class="tab-pane fade show active" id="servicio" role="tabpanel" aria-labelledby="servicio-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="desdeRE">Fecha desde:</label>
                                        <input type="date" id="desdeRE" value="{{fromDate}}" [max]="toDate"
                                            name="desdeRE" #desdeRE  (change)="mostrar_resultado = false"><br><br>
                                    </div>
                                    <div>
                                        <label for="hastaRE">Fecha hasta:</label>
                                        <input type="date" id="hastaRE" value="{{toDate}}" [max]="toDate" name="hastaRE"
                                            #hastaRE  (change)="mostrar_resultado = false">
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioRE  (change)="mostrar_resultado = false">
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinRE  (change)="mostrar_resultado = false">
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                                <br>
                                <fieldset>
                                    <div>
                                        <input type="radio" id="fecha" class="radio-col-light-blue" name="verfecha"
                                            [value]="'1'" (click)="CambiarFecha('1')" checked>
                                        <label for="fecha">Presentar Fecha</label>

                                        <input type="radio" id="rango" class="radio-col-light-blue" name="verfecha"
                                            [value]="'2'" (click)="CambiarFecha('2')">
                                        <label for="rango">Rango de fechas</label>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-8">
                                <fieldset>
                                    <label>Estado de los usuarios</label>
                                    <div>
                                        <input type="radio" id="activo" class="radio-col-light-blue" name="estado"
                                            [value]="2" (click)="CambiarEstado(2)" checked>
                                        <label for="activo">Activos</label>

                                        <input type="radio" id="inactivo" class="radio-col-light-blue" name="estado"
                                            [value]="1" (click)="CambiarEstado(1)">
                                        <label for="inactivo">Inactivos</label>

                                        <input type="radio" id="todos" class="radio-col-light-blue" name="estado"
                                            [value]="3" (click)="CambiarEstado(3)">
                                        <label for="todos">Todos</label>
                                    </div>
                                </fieldset>
                                <br>
                                <div class="row">
                                    <div class="col-md">
                                        <mat-select style="font-size: 13px;" multiple class="form-control"
                                            name="selectmake" [(value)]="sucursalesSeleccionadas"
                                            placeholder="Sucursales" (selectionChange)="mostrar_resultado = false">
                                            <mat-option [value]="-1" (click)="selectAll('todasSucursales')">
                                                Todas las sucursales
                                            </mat-option>
                                            <mat-option style="font-size: 12px;" *ngFor="let sucursal of sucursales"
                                                [value]="sucursal.empr_codigo"
                                                (click)="selectAll('sucursalesSeleccionadas')"
                                                [disabled]="todasSucursales">
                                                {{sucursal.empr_nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <br><br>
                                        <mat-select style="font-size: 13px;" multiple class="form-control"
                                            name="selectmake" [(value)]="cajerosSeleccionados" placeholder="Cajeros"
                                            (selectionChange)="mostrar_resultado = false">
                                            <mat-option *ngIf="mostrarCajeros" [value]="-1"
                                                (click)="selectAll('todosCajeros')">
                                                Todos los cajeros
                                            </mat-option>
                                            <mat-option style="font-size: 12px;" *ngFor="let option of cajerosEval"
                                                [value]="option.usua_codigo" [disabled]="todosCajeros"
                                                (click)="selectAll('cajerosSeleccionados')">
                                                {{option.caje_nombre}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                    <div class="col-md">
                                        <mat-select style="font-size: 13px;" multiple class="form-control"
                                            name="selectmake" [(value)]="serviciosSeleccionados"
                                            placeholder="Servicios" (selectionChange)="mostrar_resultado = false">
                                            <mat-option *ngIf="mostrarServicios" [value]="-1"
                                                (click)="selectAll('todosServicios')">
                                                Todos los servicios
                                            </mat-option>
                                            <mat-option style="font-size: 12px;"
                                                *ngFor="let serviciosServs of listaServicios"
                                                [value]="serviciosServs.serv_codigo" [disabled]="todosServicios"
                                                (click)="selectAll('serviciosSeleccionados')">
                                                {{serviciosServs.serv_nombre}}
                                                <span style="font-size: x-small;">
                                                    ({{serviciosServs.empresa}})
                                                </span>
                                            </mat-option>
                                        </mat-select>
                                        <br><br>
                                        <mat-select style="font-size: 13px;" multiple class="form-control"
                                            name="selectmake" [(value)]="selectedItems" placeholder="Subservicios" (selectionChange)="mostrar_resultado = false">
                                            <mat-option *ngIf="mostrarSubservicios" [value]="-1"
                                                (click)="selectAll('todosSubservicios')">
                                                Todos los subservicios
                                            </mat-option>
                                            <mat-option style="font-size: 12px;" *ngFor="let sub of subservicios"
                                                [value]="sub.id" [disabled]="todosSubservicios"
                                                (click)="selectAll('subserviciosSeleccionados')">
                                                {{sub.nombre}}
                                                <span style="font-size: x-small;">({{sub.serv_nombre}})</span>
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <br>
                                <button type="button" class="btn btn-search" (click)="MostrarResumenEvaluaciones()">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>RESUMEN EVALUACIÓN</h3>
                    <hr>
                    <div class="table-responsive" id="contentResumenE" #contentResumenE #tableResumenE *ngIf="mostrar_resultado">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center">Sucursal</th>
                                    <th scope="col" class="text-center" *ngIf="verCajero">Cajero(a)</th>
                                    <th scope="col" class="text-center" *ngIf="verServicio">Servicio</th>
                                    <th scope="col" class="text-center" *ngIf="verSubservicio">Subservicio</th>
                                    <th scope="col" class="text-center" *ngIf="verFecha === '1'">Fecha</th>
                                    <th scope="col" class="text-center">Excelente</th>
                                    <th scope="col" class="text-center" *ngIf="!opcionCuatro">Muy Bueno</th>
                                    <th scope="col" class="text-center">Bueno</th>
                                    <th scope="col" class="text-center">Regular</th>
                                    <th scope="col" class="text-center">Malo</th>
                                    <th scope="col" class="text-center">Total Evaluaciones</th>
                                    <th scope="col" class="text-center">Total Omitidas</th>
                                    <th scope="col" class="text-center">Total General</th>
                                    <th scope="col" class="text-center">Promedio</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestS">
                                <tr *ngFor="let resumen of resumenEvaluacion | paginate:configS">
                                    <td>{{resumen.nombreEmpresa}}</td>
                                    <td *ngIf="verCajero">{{resumen.Usuario}}</td>
                                    <td *ngIf="verServicio">{{resumen.Servicio}}</td>
                                    <td *ngIf="verSubservicio">{{resumen.subservicio}}</td>
                                    <td *ngIf="verFecha === '1'">{{resumen.Fecha}}</td>
                                    <td>{{resumen.Excelente}}</td>
                                    <td *ngIf="!opcionCuatro">{{resumen.Muy_Bueno}}</td>
                                    <td>{{resumen.Bueno}}</td>
                                    <td>{{resumen.Regular}}</td>
                                    <td>{{resumen.Malo}}</td>
                                    <td>{{resumen.Evaluadas}}</td>
                                    <td>{{resumen.Omitidas}}</td>
                                    <td>{{resumen.Total}}</td>
                                    <td>{{resumen.Promedio}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestSPag" id="Evals" [previousLabel]="labels.previousLabel"
                            [nextLabel]="labels.nextLabel" (pageChange)="paginacionEvaluacionFechas($event)">
                        </pagination-controls>
                    </div>
                    <br>
                    <div *ngIf="mostrar_resultado" >
                        <button type="button" class="btn btn-info mx-2" (click)="GenerarExcelEvaluaciones()">
                            EXCEL
                        </button>
                        <button type="button" class="btn btn-info" (click)="GenerarPDFEvaluacionFechas('hola', 1)">
                            PDF
                        </button>
                        <br><br>
                    </div>
                    <div *ngIf="resumenEvaluacion.length != 0 && verFecha === '2' && mostrar_resultado ">
                        <h3>GRÁFICO EVALUACIÓN</h3>
                        <div class="row">
                            <div class="col-6">
                                <label>Tipo de Gráfico</label>
                                <div>
                                    <button type="button" class="btn btn-info" style="margin-bottom: 5px;"
                                        (click)="CambiarGrafico('bar')">
                                        BARRAS
                                    </button>
                                    <button type="button" class="btn btn-info mx-2" style="margin-bottom: 5px;"
                                        (click)="CambiarGrafico('pie')">
                                        PASTEL
                                    </button>
                                </div>
                            </div>
                            <div class="col-6">
                                <fieldset>
                                    <div>
                                        <label>Tipos de Gráfico</label>
                                        <br>
                                        <input type="radio" id="sucursalG" class="radio-col-light-blue" name="grafico"
                                            value="sucursalG" (click)="CambiarOpcionesGrafico('sucursalG')" checked>
                                        <label for="sucursalG">Sucursales</label>

                                        <input *ngIf="verCajero" type="radio" id="cajeroG" class="radio-col-light-blue"
                                            name="grafico" value="cajeroG" (click)="CambiarOpcionesGrafico('cajeroG')">
                                        <label *ngIf="verCajero" for="cajeroG">Cajeros</label>

                                        <input *ngIf="verServicio" type="radio" id="servicioG"
                                            class="radio-col-light-blue" name="grafico" value="servicioG"
                                            (click)="CambiarOpcionesGrafico('servicioG')">
                                        <label *ngIf="verServicio" for="servicioG">Servicios</label>

                                        <input *ngIf="verSubservicio" type="radio" id="subservicioG"
                                            class="radio-col-light-blue" name="grafico" value="subservicioG"
                                            (click)="CambiarOpcionesGrafico('subservicioG')">
                                        <label *ngIf="verSubservicio" for="subservicioG">Subservicios</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <br>
                        <div id="canvasCont">
                            <h3>RESUMEN GRÁFICO DE EVALUACIÓN</h3><br>
                            <canvas id="canvas">{{chart}}</canvas>
                        </div>
                    </div>
                </div>

                <!--  *****************   CONSULTA EVALUACIONES POR TURNOS  ********************  -->
                <div class="tab-pane fade" id="tiempromat" role="tabpanel" aria-labelledby="tiempromat-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="desdeEvalT">Fecha desde:</label>
                                        <input type="date" id="desdeEvalT" value="{{fromDate}}" [max]="toDate"
                                            name="desdeEvalT" #desdeEvalT (change)="mostrar_resultado = false"><br><br>
                                    </div>
                                    <div>
                                        <label for="hastaEvalT">Fecha hasta:</label>
                                        <input type="date" id="hastaEvalT" value="{{toDate}}" [max]="toDate"
                                            name="hastaEvalT" #hastaEvalT (change)="mostrar_resultado = false">
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioET (change)="mostrar_resultado = false">
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinET (change)="mostrar_resultado = false">
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                                <br>
                                <fieldset>
                                    <label>Presentar evaluaciones</label>
                                    <div>
                                        <input type="radio" id="todasE" class="radio-col-light-blue" name="calificacion"
                                            [value]="3" (click)="CambiarEvaluacion(3)" checked>
                                        <label for="todasE">Todas</label>

                                        <input type="radio" id="evaluadas" class="radio-col-light-blue"
                                            name="calificacion" [value]="2" (click)="CambiarEvaluacion(2)">
                                        <label for="evaluadas">Evaluadas</label>

                                        <input type="radio" id="omitidas" class="radio-col-light-blue"
                                            name="calificacion" [value]="1" (click)="CambiarEvaluacion(1)">
                                        <label for="omitidas">Omitidas</label>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-8">
                                <fieldset>
                                    <label>Estado de los usuarios</label>
                                    <div>
                                        <input type="radio" id="activoRF" class="radio-col-light-blue" name="estadoRF"
                                            [value]="2" (click)="CambiarEstado(2)" checked>
                                        <label for="activoRF">Activos</label>

                                        <input type="radio" id="inactivoRF" class="radio-col-light-blue" name="estadoRF"
                                            [value]="1" (click)="CambiarEstado(1)">
                                        <label for="inactivoRF">Inactivos</label>

                                        <input type="radio" id="todosRF" class="radio-col-light-blue" name="estadoRF"
                                            [value]="3" (click)="CambiarEstado(3)">
                                        <label for="todosRF">Todos</label>
                                    </div>
                                </fieldset>
                                <br>
                                <div class="row">
                                    <div class="col-md">
                                        <mat-select style="font-size: 13px;" multiple class="form-control"
                                            name="selectmake" [(value)]="sucursalesSeleccionadas"
                                            placeholder="Sucursales" (selectionChange)="mostrar_resultado = false">
                                            <mat-option [value]="-1" (click)="selectAll('todasSucursales')">
                                                Todas las sucursales
                                            </mat-option>
                                            <mat-option style="font-size: 12px;" *ngFor="let sucursal of sucursales"
                                                [value]="sucursal.empr_codigo"
                                                (click)="selectAll('sucursalesSeleccionadas')"
                                                [disabled]="todasSucursales">
                                                {{sucursal.empr_nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <br><br>
                                        <mat-select style="font-size: 13px;" multiple class="form-control"
                                            name="selectmake" [(value)]="cajerosSeleccionados" placeholder="Cajeros" (selectionChange)="mostrar_resultado = false">
                                            <mat-option *ngIf="mostrarCajeros" [value]="-1"
                                                (click)="selectAll('todosCajeros')">
                                                Todos los cajeros
                                            </mat-option>
                                            <mat-option style="font-size: 12px;" *ngFor="let option of cajerosEval"
                                                [value]="option.usua_codigo" [disabled]="todosCajeros"
                                                (click)="selectAll('cajerosSeleccionados')">
                                                {{option.caje_nombre}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                    <div class="col-md">
                                        <mat-select style="font-size: 13px;" multiple class="form-control"
                                            name="selectmake" [(value)]="serviciosSeleccionados"
                                            placeholder="Servicios" (selectionChange)="mostrar_resultado = false">
                                            <mat-option *ngIf="mostrarServicios" [value]="-1"
                                                (click)="selectAll('todosServicios')">
                                                Todos los servicios
                                            </mat-option>
                                            <mat-option style="font-size: 12px;"
                                                *ngFor="let serviciosServs of listaServicios"
                                                [value]="serviciosServs.serv_codigo" [disabled]="todosServicios"
                                                (click)="selectAll('serviciosSeleccionados')">
                                                {{serviciosServs.serv_nombre}}
                                                <span style="font-size: x-small;">
                                                    ({{serviciosServs.empresa}})
                                                </span>
                                            </mat-option>
                                        </mat-select>
                                        <br><br>
                                        <mat-select style="font-size: 13px;" multiple class="form-control"
                                            name="selectmake" [(value)]="selectedItems" placeholder="Subservicios" (selectionChange)="mostrar_resultado = false">
                                            <mat-option *ngIf="mostrarSubservicios" [value]="-1"
                                                (click)="selectAll('todosSubservicios')">
                                                Todos los subservicios
                                            </mat-option>
                                            <mat-option style="font-size: 12px;" *ngFor="let sub of subservicios"
                                                [value]="sub.id" [disabled]="todosSubservicios"
                                                (click)="selectAll('subserviciosSeleccionados')">
                                                {{sub.nombre}}
                                                <span style="font-size: x-small;">({{sub.serv_nombre}})</span>
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <br>
                                <button type="button" class="btn btn-search" (click)="MostrarEvaluaciones()">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br> <br>
                    <h3>EVALUACIÓN POR TURNO</h3>
                    <hr>
                    <div class="table-responsive" id="contentEvalT" #contentEvalT #tableEvalT *ngIf="mostrar_resultado">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center">N°</th>
                                    <th scope="col" class="text-center">Sucursal</th>
                                    <th scope="col" class="text-center" *ngIf="verCajero">Cajero(a)</th>
                                    <th scope="col" class="text-center" *ngIf="verServicio">Servicio</th>
                                    <th scope="col" class="text-center" *ngIf="verSubservicio">Subservicio</th>
                                    <th scope="col" class="text-center" *ngIf="verCliente != '' && verCliente != null">
                                        Información del usuario
                                    </th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Hora</th>
                                    <th scope="col" class="text-center">Turno</th>
                                    <th scope="col" class="text-center">Calificación</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestE">
                                <tr *ngFor="let evalua of listaEvaluaciones | paginate:configE">
                                    <td>{{evalua.numero}}</td>
                                    <td>{{evalua.nombreEmpresa}}</td>
                                    <td *ngIf="verCajero">{{evalua.usua_nombre}}</td>
                                    <td *ngIf="verServicio">{{evalua.servicio}}</td>
                                    <td *ngIf="verSubservicio">{{evalua.subservicio}}</td>
                                    <td *ngIf="verCliente != '' && verCliente != null">
                                        {{evalua.informacion}}
                                    </td>
                                    <td>{{evalua.fecha}}</td>
                                    <td>{{evalua.hora}}</td>
                                    <td>{{evalua.turno}}</td>
                                    <td>{{evalua.calificacion}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestEPag" id="Evale" [previousLabel]="labels.previousLabel"
                            [nextLabel]="labels.nextLabel" (pageChange)="paginacionEvaluacionTurno($event)">
                        </pagination-controls>
                    </div>
                    <br>
                    <div *ngIf="mostrar_resultado">
                        <button type="button" class="btn btn-info mx-2" (click)="ExportarExcelEvaluacionTurno()">
                            EXCEL
                        </button>
                        <button type="button" class="btn btn-info" (click)="GenerarPDFTurnos('hola', 1)">
                            PDF
                        </button>
                    </div>

                    
                </div>

            </div>
        </form>
    </div>
</div>