<div class="card">
    <h2 class="card-header">OPINIONES</h2>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link active" id="opcategoria-tab" data-toggle="tab" href="#opcategoria" role="tab"
                        aria-controls="opcategoria" aria-selected="true">
                        INFORME GENERAL
                    </a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link" id="ocserviciosgraf-tab" data-toggle="tab" href="#opserviciosgraf" role="tab"
                        aria-controls="ocserviciosgraf" aria-selected="false">
                        GRÁFICOS GENERAL
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">

                <!--  ***************   INFORME GENERAL DE SATISFACCION  ***************  -->
                <div class="tab-pane fade show active" id="opcategoria" role="tabpanel"
                    aria-labelledby="opcategoria-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fechaDesde">Fecha desde:</label>
                                        <input type="date" id="fechaDesde" value="{{fromDate}}" [max]="toDate"
                                            name="fechaDesde" #fechaDesde>
                                        <br><br>
                                    </div>
                                    <div>
                                        <label for="fechaHasta">Fecha hasta:</label>
                                        <input type="date" id="fechaHasta" value="{{toDate}}" [max]="toDate"
                                            name="fechaHasta" #fechaHasta>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicio>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFin>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursales')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let option of sucursales" [value]="option.empr_codigo"
                                        (click)="selectAll('sucursalesSeleccionadas')" [disabled]="todasSucursales">
                                        {{option.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="tiposSeleccionados" placeholder="Tipos">
                                    <mat-option [value]="-1" (click)="selectAll('todosTipos')">
                                        Todos los tipos
                                    </mat-option>
                                    <mat-option (click)="selectAll('seleccionarTipos')" *ngFor="let tipo of tipos"
                                        [value]="tipo.valor" [disabled]="todosTipos">
                                        {{tipo.nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="LeerOpiniones()">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>OPINIONES</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped" id="contentIC" #contentIC #tableIC>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center" *ngIf="todasSucursales || seleccionMultiple">
                                        Sucursal</th>
                                    <th scope="col" class="text-center">Tipo</th>
                                    <th scope="col" class="text-center">Categoría</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Hora</th>
                                    <th scope="col" class="text-center">Caja</th>
                                    <th scope="col" class="text-center" style="width: 350px;">Observación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicioOpinionIC of servicioOpinionIC | paginate:configIC">
                                    <td *ngIf="todasSucursales || seleccionMultiple">
                                        {{servicioOpinionIC.empresa_empr_nombre}}</td>
                                    <td>{{servicioOpinionIC.quejas_emi_tipo}}</td>
                                    <td>{{servicioOpinionIC.quejas_emi_categoria}}</td>
                                    <td>{{servicioOpinionIC.quejas_emi_fecha}}</td>
                                    <td>{{servicioOpinionIC.hora}}</td>
                                    <td>{{servicioOpinionIC.caja_caja_nombre}}</td>
                                    <td class="text-left">{{servicioOpinionIC.quejas_emi_queja}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestICPag" id="opinionesIC"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedIC($event)">
                        </pagination-controls>
                    </div>
                    <button *ngIf="!malRequestICPag" type="button" class="btn btn-info mx-2"
                        (click)="exportTOExcelSatisfaccion()">
                        EXCEL
                    </button>
                    <button *ngIf="!malRequestICPag" type="button" class="btn btn-info"
                        (click)="GenerarPDFOpiniones('hola',1)">
                        PDF
                    </button>
                </div>

                <!--  ***************   INFORME GRAFICO DE SATISFACCION  ***************  -->
                <div class="tab-pane fade" id="opserviciosgraf" role="tabpanel" aria-labelledby="ocserviciosgraf-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fechaDesdeG">Fecha desde:</label>
                                        <input type="date" id="fechaDesdeG" value="{{fromDate}}" [max]="toDate"
                                            name="fechaDesdeG" #fechaDesdeG>
                                        <br><br>
                                    </div>
                                    <div>
                                        <label for="fechaHastaG">Fecha hasta:</label>
                                        <input type="date" id="fechaHastaG" value="{{toDate}}" [max]="toDate"
                                            name="fechaHastaG" #fechaHastaG>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioG>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinG>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(ngModel)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursales')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let option of sucursales" [value]="option.empr_codigo"
                                        (click)="selectAll('sucursalesSeleccionadas')" [disabled]="todasSucursales">
                                        {{option.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="LeerGraficoOpiniones()">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div *ngIf="!malRequestAtM" id="contentChart" #contentChart>
                        <h3>GRÁFICO - OPINIONES</h3><br>
                        <canvas id="canvas">{{chart}}</canvas><br>
                        <canvas id="canvas2">{{chart}}</canvas>
                    </div>
                    <br>
                    <fieldset *ngIf="!malRequestAtM">
                        <div>
                            <label>Orientación de página: </label>

                            <input type="radio" id="vertical" class="radio-col-light-blue" name="orientacion"
                                value="portrait" (click)="cambiarOrientacion('portrait')" checked>
                            <label for="vertical">Vertical</label>

                            <input type="radio" id="horizontal" class="radio-col-light-blue" name="orientacion"
                                value="landscape" (click)="cambiarOrientacion('landscape')">
                            <label for="horizontal">Horizontal</label>
                        </div>
                    </fieldset>
                    <button *ngIf="!malRequestAtM" type="button" class="btn btn-info mx-2"
                        (click)="exportTOExcelOpinionesGrafico()">
                        EXCEL
                    </button>
                    <button *ngIf="!malRequestAtM" type="button" class="btn btn-info"
                        (click)="generarPdfOpiniones('hola',2)">
                        PDF
                    </button>
                    <br>
                </div>
            </div>
        </form>
    </div>
</div>