<div class="card">
    <h2 class="card-header">OPINIONES</h2>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link" id="opcategoria-tab" data-toggle="tab" href="#opcategoria" role="tab" aria-controls="opcategoria" aria-selected="false">INFORME QUEJAS Y RECLAMOS</a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">INFORME GENERAL</a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link" id="ocserviciosgrafIC-tab" data-toggle="tab" href="#opserviciosgrafIC" role="tab" aria-controls="ocserviciosgrafIC" aria-selected="false">GRÁFICOS QUEJAS Y RECLAMOS</a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link" id="ocserviciosgraf-tab" data-toggle="tab" href="#opserviciosgraf" role="tab" aria-controls="ocserviciosgraf" aria-selected="false">GRÁFICOS GENERAL</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateAtM">Fecha desde:</label>
                                        <input type="date" id="fromDateAtM" value="{{fromDate}}" [max]="toDate"
                                            name="fromDateAtM" #fromDateAtM>
                                        <br><br>
                                    </div>
                                    <div>
                                        <label for="toDateAtM">Fecha hasta: </label>
                                        <input type="date" id="toDateAtM" value="{{toDate}}" [max]="toDate"
                                            name="toDateAtM" #toDateAtM>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioI>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [Value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinI>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [Value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursalesI')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let option of sucursales" [value]="option.empr_codigo"
                                        (click)="selectAll('sucursalesSeleccionadas')" [disabled]="todasSucursalesI">
                                        {{option.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="tiposSeleccionados" placeholder="Tipos">
                                    <mat-option [value]="-1" (click)="selectAll('todosTipos')">
                                        Todos los tipos
                                    </mat-option>
                                    <mat-option *ngFor="let tipo of tipos" [value]="tipo.valor" [disabled]="todosTipos">
                                        {{tipo.nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerOpiniones()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>OPINIONES</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped" id="contentAtMul" #contentAtMul #tableAtMul>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center" *ngIf="todasSucursalesI || seleccionMultiple">
                                        Sucursal</th>
                                    <th scope="col" class="text-center">Tipo</th>
                                    <th scope="col" class="text-center">Categoría</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Caja</th>
                                    <th scope="col" class="text-center" style="width: 350px;">Opinión</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestAtM">
                                <tr *ngFor="let servicioOpinion of servicioOpinion | paginate:configAtM">
                                    <td *ngIf="todasSucursalesI || seleccionMultiple">
                                        {{servicioOpinion.empresa_empr_nombre}}</td>
                                    <td>{{servicioOpinion.quejas_emi_tipo}}</td>
                                    <td>{{servicioOpinion.quejas_emi_categoria}}</td>
                                    <td>{{servicioOpinion.quejas_emi_fecha}}</td>
                                    <td>{{servicioOpinion.caja_caja_nombre}}</td>
                                    <td class="text-left">{{servicioOpinion.quejas_emi_queja}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestAtMPag" id="AtendidosMatm"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedAtM($event)">
                        </pagination-controls>
                    </div>
                    <button type="button" class="btn btn-info mx-2" (click)="exportTOExcelOpiniones()">EXCEL</button>
                    <button type="button" class="btn btn-info" (click)="generarPdfOpiniones('hola',1)">PDF</button>
                </div>

                <div class="tab-pane fade" id="opcategoria" role="tabpanel" aria-labelledby="opcategoria-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateIC">Fecha desde:</label>
                                        <input type="date" id="fromDateIC" value="{{fromDate}}" [max]="toDate"
                                            name="fromDateIC" #fromDateIC>
                                        <br><br>
                                    </div>
                                    <div>
                                        <label for="toDateIC">Fecha hasta: </label>
                                        <input type="date" id="toDateIC" value="{{toDate}}" [max]="toDate"
                                            name="toDateIC" #toDateIC>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioIC>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [Value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinIC>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [Value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursalesIC')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let option of sucursales" [value]="option.empr_codigo"
                                        (click)="selectAll('sucursalesSeleccionadas')" [disabled]="todasSucursalesIC">
                                        {{option.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select class="form-control" name="selectmake" [(value)]="tiposSeleccionados"
                                    placeholder="Tipos">
                                    <mat-option [value]="1" (click)="selectAll('tipo1')">
                                        Quejas
                                    </mat-option>
                                    <mat-option [value]="2" (click)="selectAll('tipo2')">
                                        Reclamos
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="categoriasSeleccionadas" placeholder="Categorias">
                                    <mat-option *ngIf="mostrarCategorias" [value]="-1"
                                        (click)="selectAll('todasCategorias')">
                                        Todas las categorias
                                    </mat-option>
                                    <mat-option *ngFor="let categoria of categorias" [value]="categoria.emi_categoria"
                                        [disabled]="todasCategorias">
                                        {{categoria.emi_categoria}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerOpinionesC()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>OPINIONES</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped" id="contentIC" #contentIC #tableIC>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center" *ngIf="todasSucursalesIC || seleccionMultiple">
                                        Sucursal</th>
                                    <th scope="col" class="text-center">Tipo</th>
                                    <th scope="col" class="text-center">Categoría</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Caja</th>
                                    <th scope="col" class="text-center" style="width: 350px;">Opinión</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let servicioOpinionIC of servicioOpinionIC | paginate:configIC">
                                    <td *ngIf="todasSucursalesIC || seleccionMultiple">
                                        {{servicioOpinionIC.empresa_empr_nombre}}</td>
                                    <td>{{servicioOpinionIC.quejas_emi_tipo}}</td>
                                    <td>{{servicioOpinionIC.quejas_emi_categoria}}</td>
                                    <td>{{servicioOpinionIC.quejas_emi_fecha}}</td>
                                    <td>{{servicioOpinionIC.caja_caja_nombre}}</td>
                                    <td class="text-left">{{servicioOpinionIC.quejas_emi_queja}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestICPag" id="opinionesIC"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedIC($event)">
                        </pagination-controls>
                    </div>
                    <button type="button" class="btn btn-info mx-2" (click)="exportTOExcelOpinionesIC()">EXCEL</button>
                    <button type="button" class="btn btn-info" (click)="generarPdfOpinionesIC('hola',1)">PDF</button>
                </div>

                <div class="tab-pane fade" id="opserviciosgraf" role="tabpanel" aria-labelledby="ocserviciosgraf-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateOcupG">Fecha desde:</label>
                                        <input type="date" id="fromDateOcupG" value="{{fromDate}}" [max]="toDate"
                                            name="fromDateOcupG" #fromDateOcupG>
                                        <br><br>
                                    </div>
                                    <div>
                                        <label for="toDateOcupG">Fecha hasta: </label>
                                        <input type="date" id="toDateOcupG" value="{{toDate}}" [max]="toDate"
                                            name="toDateOcupG" #toDateOcupG>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioG>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [Value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinG>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [Value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(ngModel)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursalesG')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let option of sucursales" [value]="option.empr_codigo"
                                        (click)="selectAll('sucursalesSeleccionadas')" [disabled]="todasSucursalesG">
                                        {{option.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerGrafOpinion()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div *ngIf="!malRequestAtM" id="contentChart" #contentChart>
                        <h3>GRÁFICO - OPINIONES</h3><br>
                        <canvas id="canvas">{{chart}}</canvas><br>
                        <canvas id="canvas2">{{chart}}</canvas>
                    </div>
                    <br>
                    <fieldset>
                        <div>
                            <label>Orientación de página: </label>

                            <input type="radio" id="vertical" class="radio-col-light-blue" name="orientacion"
                                value="portrait" (click)="cambiarOrientacion('portrait')" checked>
                            <label for="vertical">Vertical </label>

                            <input type="radio" id="horizontal" class="radio-col-light-blue" name="orientacion"
                                value="landscape" (click)="cambiarOrientacion('landscape')">
                            <label for="horizontal">Horizontal </label>
                        </div>
                    </fieldset>
                    <button type="button" class="btn btn-info mx-2"
                        (click)="exportTOExcelOpinionesGrafico()">EXCEL</button>
                    <button type="button" class="btn btn-info" (click)="generarPdfOpiniones('hola',2)">PDF</button>
                    <br>
                </div>

                <div class="tab-pane fade" id="opserviciosgrafIC" role="tabpanel" aria-labelledby="ocserviciosgrafIC-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateOcupGIC">Fecha desde:</label>
                                        <input type="date" id="fromDateOcupGIC" value="{{fromDate}}" [max]="toDate" name="fromDateOcupGIC" #fromDateOcupGIC>
                                        <br><br>
                                    </div>
                                    <div>
                                        <label for="toDateOcupGIC">Fecha hasta: </label>
                                        <input type="date" id="toDateOcupGIC" value="{{toDate}}" [max]="toDate" name="toDateOcupGIC" #toDateOcupGIC>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioGIC>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [Value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinGIC>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [Value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake" [(ngModel)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1"  (click)="selectAll('todasSucursalesGIC')" >
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let option of sucursales" [value]="option.empr_codigo" 
                                    (click)="selectAll('sucursalesSeleccionadas')" [disabled]="todasSucursalesGIC">
                                        {{option.empr_nombre}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select class="form-control" name="selectmake" [(value)]="tiposSeleccionados" placeholder="Tipos">
                                    <mat-option [value]="1" >
                                        Quejas
                                    </mat-option>
                                    <mat-option [value]="2">
                                        Reclamos
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="leerGrafOpinionIC()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div *ngIf="!malRequestAtMIC" id="contentChartIC" #contentChartIC>
                        <h3>GRÁFICO - OPINIONES</h3><br>
                        <canvas id="canvas3">{{chart}}</canvas><br>
                        <canvas id="canvas4">{{chart}}</canvas>
                    </div>
                    <br>
                    <fieldset>
                        <div>
                            <label>Orientación de página: </label>

                            <input type="radio" id="vertical" class="radio-col-light-blue" name="orientacion"
                                value="portrait" (click)="cambiarOrientacion('portrait')" checked>
                            <label for="vertical">Vertical </label>

                            <input type="radio" id="horizontal" class="radio-col-light-blue" name="orientacion"
                                value="landscape" (click)="cambiarOrientacion('landscape')">
                            <label for="horizontal">Horizontal </label>
                        </div>
                    </fieldset>
                    <button type="button" class="btn btn-info mx-2" (click)="exportTOExcelOpinionesGraficoIC()">EXCEL</button>
                    <button type="button" class="btn btn-info" (click)="generarPdfOpinionesIC('hola',2)">PDF</button>
                    <br>
                </div>
            </div>
        </form>
    </div>
</div>