.imagen {
  width: 400px;
  height: auto;
}

#selectImagen::-webkit-file-upload-button {
  background-color: rgb(2, 142, 225);
  // PARA CAMBIAR EL COLOR DE FONDO DEL BOTON 
  color: white;
  // PARA CAMBIAR EL COLOR DEL TEXTO DEL BOTON 
  border: 1px solid rgb(2, 142, 225);
  // PARA DAR UN BORDE AL BOTON 
  border-radius: 5px;
  // PARA DAR UN BORDE REDONDEADO AL BOTON
  padding: 10px;
  // PARA DAR UN ESPACIADO INTERNO AL BOTON
  cursor: pointer;
  // PARA CAMBIAR EL CURSOR AL PASAR SOBRE EL BOTON
}

.my-button {
  background-color: white;
  color: rgb(113, 114, 115);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}

.my-button:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}